<div class="row", style='margin-top: 10px'>
  <div class="span16">
  <h2><%= gravatar_image_tag(current_user.email,:width => "30",:alt => current_user.username) %> <%= current_user.username%>の作品登録</h2>
  <%= render 'tabs' %>
  </div> 
</div>
