<h2>作品</h2>
<p>あなたが生み出した作品を登録してください。あなたの作品を公開することができます。<br />
また、他のアーティストが</p>
<h3>作品詳細のサポート</h3>
<p>作品詳細では、HTMLを利用したリッチな情報を登録することができます。作品詳細の中に関する動画サイトのリンクや、画像のリンクを貼ることができます。<br />
  現時点ではYoutube、ニコニコ動画に対応しています。</p>
