<div class="row", style='margin-top: 10px'>
  <div class="span16">
  <h2><%= artist_image_tag(current_user, "30px") %> <%= current_user.username%>の情報変更</h2>
  <%= render 'settings/tabs' %>
  </div> 
</div>
