<ul class="tabs">
  <li <%= "class='active'" if current_page?(settings_profile_path)%>><%= link_to "プロフィール", settings_profile_path %></li>
  <li <%= "class='active'" if current_page?(settings_account_path)%>><%= link_to "アカウント情報", settings_account_path %></li>
</ul>
