<div class="box">
  <h2><span>About us</span></h2>
  <h3><span><%= link_to_unless_current "ミュージアムクリエイトドットコムとは", about_path %></span></h3>
  <p>　サイトの特徴や機能を紹介</p>
  <h3><span><%= link_to_unless_current "Policy", policy_path %></span></h3>
  <p>　ご利用いただくにあたっての注意事項</p>
  <h3><span><%= link_to_unless_current "Copy Right", copyright_path %></span></h3>
  <p>　著作権の扱いについて</p>
  <h3><span><%= link_to "Contact Us", contact_us_path %></span></h3>
  <p>　ご意見、ご感想、その他お問い合わせはこちら</p>
</div>
