<% @title = "About Us" -%>
<div class="page-header", style='margin-top: 10px'>
  <h1>MuseumCreated.com <small>皆で創りあげる美術館</small></h1>
</div>
<div class="row">
  <div class="span10 columns">
	<h3>ミュージアムクリエイトドットコムとはアーティストのコラボレーションをサポートするサービスです</h3><br />
	<p>数多くの表現の場がインターネット上に存在する今。あなたはどんな活動をしていますか？できていますか？</p>
	<p>そこには、あなたにとってたくさんの有益なつながりが存在するでしょう。</p>
	<p>お互いの技術、情報、場所…etc</p>
	<p>つながりはあなたの作品の大きな可能性のひとつとなります。</p>
	<p>例えば…</p>
	<ul>
	  <li>作品へのリンクを管理し、簡単な自己紹介ページとして使える。</li>
	  <li>あなたの作品に必要な相手として、仲間や友人として、つながりたい相手を探す。</li>
	  <li>つながった相手と一緒にひとつの新しい作品を創る。</li>
	</ul>
	<h3>３つの機能</h3>
	<ul>
	  <li>プロフィールの公開<br>
		<br>
		アーティスト登録後に用意されるプロフィールでは、ネット上に存在するあなたの作品へのリンクをまとめて管理・公開することができます。<br>
		それによって、「どんなアーティストなのか？」と、あなたが興味を持ったアーティストの情報を、また、あなたに興味を持ったアーティストはあなたの情報を、それぞれ簡単に確認することができます。</li>
	  <br>
	  <li>アーティストを検索<br>
		<br>
		独自のタグ登録と検索機能により、あなたが興味のあるorあなたが必要とするアーティストを、また、あなたに興味のあるorあなたを必要とするアーティストを、それぞれ簡単に見つけることができます。</li>
	  <br>
	  <li>アーティストとつながる<br>
		<br>
		気になるアーティストがみつかったらオファーを送ることができます。オファーを受けた相手はあなたを確認し、それを受けるかどうか判断します。逆にあなたがオファーを受けた場合、相手の情報を確認し、ぜひオファーを受けてみてください。</li>
	</ul>
	<br>
	<p>今後、機能は随時追加していく予定です。</p>
	<p>新しい機能が出来次第、皆さんにお伝えできることを楽しみにしています。</p>
	<p>Mu-cre.comに関するご意見、ご要望、新しい使い方、新機能のご提案、などがございましたら、ぜひお問い合わせフォームよりご連絡ください。</p>
  </div>
  
  <div class="span6 columns">
    <%= render 'right_col' %>    
  </div>
</div>

