<% @title = "About Us" -%>
<div class="page-header">
  <h2>MuseumCreated.com <small>皆で創りあげる美術館</small></h2>
</div>
<div class="row">
  <div class="span8">
    <h3>アーティストの「情報の共有・検索・管理」をサポートします。そして、全ての分野のアーティストデータベースを目指します。</h3>
    <p>数多くの表現の場がインターネット上に存在する今。<br>あなたはどんな活動をしていますか？…できていますか？</p>
    <p>そこには、あなたにとってたくさんの意味あるつながりが存在するでしょう。<br>お互いの技術、情報、場所...etc</p>
    <p>それらの共有はあなたの作品の大きな可能性のひとつとなります。<br>例えば...</p>
    <div class="well">
      <ul>
        <li>作品へのリンクを管理し自己紹介ページとして使える。</li>
        <li>データベースとしてアーティストを検索することが出来る。</li>
        <li>活動場所、イベント場所などを地図上で管理、閲覧できる。</li>
      </ul>
    </div>
    <h3>３つの機能</h3>
    <p>ミュージアムクリエイトドットコムにアーティスト登録することにより以下の機能を使う事ができます。</p>
    <div class="well">
      <dl>
        <dt><i class="icon-user"></i>プロフィールの公開</dt>
        <dd>
        アーティスト登録後に用意されるプロフィールでは、あなたのアーティストとしての情報、ネット上に存在するあなたの作品、それらをまとめて管理・公開することができます。
        </dd>
        <hr>
        <dt><i class="icon-search"></i>アーティストを検索</dt>
        <dd>
        登録された情報は独自のタグ検索機能の検索対象となります。<br>あなたやあなたの作品を必要としている相手とつながるきっかけとなるかもしれません。また、あなた自身もそれらの情報からアーティストを検索することができます。
        </dd>
        <hr>
        <dt><i class="icon-magnet"></i>アーティストとつながる</dt>
        <dd>
        あなたの活動地域、イベントの情報（場所、日時、等）を登録することができます。それらの情報は誰でも地図上で観覧することができます。
        </dd>
      </dl>
    </div>
    <p>今後、機能は随時追加していく予定です。<br>
    新しい機能が出来次第、皆さんにお伝えできることを楽しみにしています。<br>
    MuseumCreated.comに関するご意見、ご要望、新しい使い方、新機能のご提案、などがございましたら、ぜひお問い合わせフォームよりご連絡ください。</p>
  </div>
  <div class="span4">
    <%= render 'right_col' %>
  </div>
</div>

