<% @title = "About Us" -%>
<div class="page-header">
  <h2>MuseumCreated.com <small>皆で創りあげる美術館</small></h2>
</div>
<div class="row">
  <div class="span8">
    <h3>ミュージアムクリエイトドットコムとはアーティストのコラボレーションをサポートします</h3>
    <p>数多くの表現の場がインターネット上に存在する今。あなたはどんな活動をしていますか？できていますか？<br>
    そこには、あなたにとってたくさんの有益なつながりが存在するでしょう。<br>
    お互いの技術、情報、場所…etc<br>
    つながりはあなたの作品の大きな可能性のひとつとなります。<br>
    例えば…</p>
    <div class="well">
    <ul>
      <li>作品へのリンクを管理し、簡単な自己紹介ページとして使える。</li>
      <li>あなたの作品に必要な相手として、仲間や友人として、つながりたい相手を探す。</li>
      <li>つながった相手と一緒にひとつの新しい作品を創る。</li>
    </ul>
  </div>
    <h3>３つの機能</h3>
    <div class="well">
    <dl>
      <dt><i class="icon-user"></i>プロフィールの公開</dt>
      <dd>
      アーティスト登録後に用意されるプロフィールでは、ネット上に存在するあなたの作品へのリンクをまとめて管理・公開することができます。
      それによって、「どんなアーティストなのか？」と、あなたが興味を持ったアーティストの情報を、また、あなたに興味を持ったアーティストはあなたの情報を、それぞれ簡単に確認することができます。
      </dd>
      <hr>
      <dt><i class="icon-search"></i>アーティストを検索</dt>
      <dd>
      独自のタグ登録と検索機能により、あなたが興味のあるorあなたが必要とするアーティストを、また、あなたに興味のあるorあなたを必要とするアーティストを、それぞれ簡単に見つけることができます。</dd>
      <hr>
      <dt><i class="icon-magnet"></i>アーティストとつながる</dt>
      <dd>
      気になるアーティストがみつかったらオファーを送ることができます。オファーを受けた相手はあなたを確認し、それを受けるかどうか判断します。逆にあなたがオファーを受けた場合、相手の情報を確認し、ぜひオファーを受けてみてください。</dd>
    </dl>
  </div>
    <p>今後、機能は随時追加していく予定です。<br>
    新しい機能が出来次第、皆さんにお伝えできることを楽しみにしています。<br>
    Mu-cre.comに関するご意見、ご要望、新しい使い方、新機能のご提案、などがございましたら、ぜひお問い合わせフォームよりご連絡ください。</p>
  </div>
  <div class="span4">
    <%= render 'right_col' %>
  </div>
</div>

