<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% tag_cloud(@interests, %w(css1 css2 css3 css4)) do |tag, css_class| %>
  <%= link_to tag.name, "#", :class => css_class %>
<% end %>
