<% @title = "Policy" -%>
<div class="page-header">
  <h1>Policy <small>ご利用いただくにあたっての注意事項</small></h1>
</div>
<div class="row">
  <div class="span10 columns">
    <h3>Mu-creをご利用いただき 誠にありがとうございます</h3>
	<br>
	<p>Mu-cre.comでは、ご利用いただく皆様にとってすばらしい場となるため、常に最大限の努力を続けています。</p>
	<ul>
	  <li>サイトにおいてモラルを逸した行為があった場合には、管理者の判断により、該当する登録者への警告、登録抹消、アクセス制限等、相応の対処をさせていただくことがあります。</li><br>
	  <li>当サイトに掲載される情報に関して、管理者側として様々な注意を払ってはおりますが、内容の正確性、有用性、安全性、その他いかなる保証を行うものではありません。</li><br>
	  <li>倫理的観点から問題のある情報が確認された場合、管理者側の独断にて該当する情報の削除、また関係機関への通報を行う可能性があります。</li><br>
	  <li>サービスをご利用いただくにあたり、当サイトにて収集した個人情報につきましては、法令およびその他の規範を遵守し、適切な取り扱いに万全を尽くします。</li><br>
	</ul>
  </div>
  
  <div class="span6 columns">
    <%= render 'right_col' %>    
  </div>
</div>
