<% @title = "Your Projects" -%>
<%= render 'offers/profile_bar' %>

<div class="row">
  <div class="span8">
    <%= render 'form' %>
  </div>
  <div class="span4">
    <h2>プロジェクト詳細</h2>
    <p>あなたのコラボメイトと相談し、プロジェクトの詳細を決めてください。<br />デフォルトではオファーの内容が登録されます。</p>
  </div>
</div>
