<%= render 'profile_bar' %>
<div class="row">
  <div class="span8">
    <%= render 'form' %>
  </div>
  <div class="span4">
    <h2>オファー</h2>
    <p>コラボレーションしたいアーティストに対してオファーしましょう。<br />どのような内容でコラボレーションしたいか、オファーの内容を詳細に記述してください。</p>
    <h3>コラボレーションの流れ</h3>
    <p>あなたのオファーが相手のアーティストに受諾された場合、二人がアクセス可能なプロジェクトスペースが生成されます。<br />プロジェクトスペースを使って新しい作品を生み出して行きましょう。</p>
  </div>
</div>
