@import 'bootstrap';
@import 'font-awesome';

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

@import 'bootstrap-responsive';

.alert-notice {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-alert {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
