MuseumCreated.comへようこそ!<br />

<%= @resource.email %>様<br />

MuseumCreated.comにご登録頂きありがとうございます。<br />
以下のリンクにアクセスすることで、アカウントの登録が完了します。<br />
<p><%= link_to "アカウント登録確定", confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
	
一定期間経過してもログインされなかった場合は、このURLは無効となります。<br />
その場合は以下リンクより再度確認メールを依頼してください。<br />
<p><%=link_to "アカウント確認メール再送依頼", new_user_confirmation_path %></p>
