MuseumCreated.comからパスワードリセットのお知らせ<br />

<%= @resource.email %>様<br />

<p>MuseumCreated.comをご登録頂き、ありがとうございます。<br />
以下のリンクにアクセスすることで、パスワードリセットが可能です。</p>
<p><%= link_to 'パスワードのリセット', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>もしこのメールに心当たりが無ければ、無視してください。</p>
<p>上記リンクにアクセスしてパスワードをリセットしない限り、パスワードは変更されません。</p>
