<%= @offerer_user.username %>様<br />

日頃からMuseumCreated.comをご利用いただきありがとうございます。<br />
<%= @offered_user.username %>があなたのオファーを受理しました！<br />
以下のリンク先でコミニュケーションをとってください。<br />
<p><%= link_to "プロジェクトサイトを確認する", project_url(@project, host:"museum-created.heroku.com") %></p>

